{% extends 'base.html' %}

{% block header %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">

    function rated(rating, item) {
            $.post("{{ url_for('rate') }}", {"rating" : rating, "item" : item});
    }
    </script>
    <style>
    .card-text {
    	margin: 0;
    }
    </style>

{% endblock %}

{% block content %}

    {% if current_user.username == 'admin' %}
    <div class="container">
        <form action="/" method="POST" class="row">
            <div class="form-group">
                <label for="name">Item Name:</label>
                <input class="form-control" id="name" name="name" placeholder="Enter item name">
            </div>
            <div class="form-group">
                <label for="name">Item Category:</label>
                <input class="form-control" id="category" name="category" placeholder="Enter item Category">
            </div>
            <button type="submit" class="btn btn-success" name="new_item" value="new_item">Add</button>
        </form>
    </div>
    {% endif %}

    <div class="container">

        <form action="/" method="GET">
            <div class="form-group ">
                <label for="search" style="margin-top:20">Search:</label>
                <div class="row">
	                <div class="col-6">
		                <div class="input-group mb-3">
		                	<input name="search" class="form-control" id="searchString" placeholder="Enter search.."  aria-describedby="basic-addon2" value="{{args.get('search', '')}}">
							<div class="input-group-append">
							    <button class="btn btn-outline-secondary" type="submit">Search</button>
							</div>
							<div class="input-group-append">
								<select name="category" id="cars" class="form-control" onchange="this.form.submit()">
								    <option value="All" {{'selected' if args['category'] == 'All' else ''}}>All</option>
								    {% for category in categories %}
								    	<option value="{{category}}" {{'selected' if args['category'] == category else ''}}>{{category}}</option>
								    {% endfor %}
								</select>
							</div>
						</div>
	                </div>
              	
	                
                </div>
            </div>
        </form>

        
    </div>

    <div class="container">
    <div class="row">

  {% for item in items %}
        <div class="card shadow m-2" style="width: 13rem;text-align=center;">
            <img "card-img-top" src="{{item.image}}">
            <div class="card-body text-center" style="padding:10px;text-align=center;">

                <h5 class="card-title card-text">{{ item.name }} </h5>
				<!-- 
                <p class="card-text">{{item.category}} </p>
				-->
                
 {% if current_user.is_authenticated %}
 				
                <input type="radio" id="rating" name="rate{{item.id}}" value="1" onclick="rated(1, {{item.id}})" {{'checked' if item.id in ratings and ratings[item.id] == 1 else ''}}>
                <input type="radio" id="rating" name="rate{{item.id}}" value="2" onclick="rated(2, {{item.id}})" {{'checked' if item.id in ratings and ratings[item.id] == 2 else ''}}>
                <input type="radio" id="rating" name="rate{{item.id}}" value="3" onclick="rated(3, {{item.id}})" {{'checked' if item.id in ratings and ratings[item.id] == 3 else ''}}>
                <input type="radio" id="rating" name="rate{{item.id}}" value="4" onclick="rated(4, {{item.id}})" {{'checked' if item.id in ratings and ratings[item.id] == 4 else ''}}>
                <input type="radio" id="rating" name="rate{{item.id}}" value="5" onclick="rated(5, {{item.id}})" {{'checked' if item.id in ratings and ratings[item.id] == 5 else ''}}>
				
{% endif %}

                {% if item.id in averages %}
                <p class="card-text">Average Rating: {{averages[item.id]}} </p>
                {% endif %}
            </div>
        </div>

    {% endfor %}
    </div>
    </div>


{% endblock %}